/* FONT */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

section {
    background-color: #F2F4F4;
}

/* NAVBAR */

.logo {
    width: 100px;
    height: auto;
}

.logout {
    margin-right: 15px;
    padding: 5px;
    color: #d9534f;
    border: #d9534f 1px solid;
    border-radius: 5px;
}

.logout:hover {
    color: rgba(255, 0, 0, 0.603);
}

/* REGISTRATION PAGE */

.registration-title {
    margin: 30px;
    text-align: center;
}

.form-registration {
    margin: auto;
    max-width: 350px;
}

.btn.btn-danger {
    margin: 10px auto;
}

.btn.btn-danger:hover {
    background-color: #d9544fe5;
}

.feature {
    max-width: 350px;
    margin: auto;
}

.login-path {
    color: #d9534f;
}

/* FOOTER */

.footer {
    position: absolute;
    bottom: 0px;
    left: 45%;
}

.copyright.mentions {
    margin: auto;
}

/* DASHBORD */

.group-list p {
    margin: 15px;
}

.dashbord-main-title {
    margin: 15px;
}

.actors h2 {
    margin: 15px;
}

.partner-actor-list {
    display: grid;
    grid-template-columns: 400px 400px;
}

.partners-card {
    border: black 1px inset;
    margin: 10px;
    border-radius: 10px;
}

.partners-name {
    margin-left: 10px;
}

.partners-features {
    display: flex;
}

.partners-logo {
    width: 500px;
    padding: 10px;
}

.partners-description {
    padding: 10px;
    margin-left: 80px;
    text-align: justify;
    flex-wrap: wrap;
}

.partners-link a {
    padding: 5px;
    color: #FFFFFF;
    background-color: #d9534f;
    border-radius: 5px;
}

.partners-link a:hover {
    padding: 5px;
    color: #FFFFFF;
    background-color: #d9544fe5;
    border-radius: 5px;
}

/* COMMENT PAGE */

.comment-actor-name {
    text-align: center;
}

.comment-actor-items {
    margin: 10px auto;
    padding: 10px;
}

img.comment-actor-logo {
    margin-left: 250px;
}

.comments {
    display: flex;
}

.comment-title {
    padding: 10px;
}

.comment-descirption-actor {
    margin: 10px;
}

.card.add-comment {
    margin: 10px;
}

.card.all-comment {
    margin: 10px;
}

.card-text-input {
    width: 100%;
}