/* FONT */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

section {
    background-color: #F2F4F4;
}

/* NAVBAR */

.logo {
    width: 100px;
    height: auto;
}

.logout {
    margin-right: 15px;
    color: red;
}

.logout:hover {
    color: rgba(255, 0, 0, 0.603);
}

/* REGISTRATION PAGE */

.registration-title {
    margin: 30px;
    text-align: center;
}

.form-registration {
    margin: auto;
    max-width: 350px;
}

.btn.btn-danger {
    margin: 10px auto;
}

.feature {
    max-width: 350px;
    margin: auto;
}

/* FOOTER */

.footer {
    position: relative;
    bottom: 0px;
    left: 45%;
}

.copyright.mentions {
    margin: auto;
}

/* DASHBORD */

.group-list p {
    margin: 15px;
}

.dashbord-main-title {
    margin: 15px;
}

.actors h2 {
    margin: 15px;
}

.partner-actor-list {
    display: grid;
    grid-template-columns: 400px 400px;
}

.partners-card {
    border: black 1px solid;
}

.partners-features {
    display: flex;
}

.partners-logo {
    width: 600px;
}

.partners-description {
    margin-left: 80px;
    text-align: justify;
    flex-wrap: wrap;
}